# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# System files
.DS_Store


# IDE/Editor files
.vscode/
.idea/
*.swp
my-instructions.md

senseBox*

server.test.js